*{
	margin: 0;
	padding: 0;
	color: white;
}
html{
	overflow-y: scroll;
	scroll-behavior: smooth;
}
.main-container{
	height: 100svh;
}
p{
	font-size: 2rem;
}
nav{
/*	background-color: #131333;*/
	height: 3.5rem;
}
::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}

/* BLOBS */
.blob-container{
	background-color: #80808000;
	height: 100svh;
	position: absolute;
	z-index: 1;
}
.blob-one{
	height: 25rem;
	font-size: 1.25rem;
	border-radius: 76% 24% 82% 18% / 65% 62% 38% 35%;
	overflow: hidden;
	color: white;
	filter: drop-shadow(-10px -10px rgb(28, 45, 65));
	animation: blobOneAnimation 15s infinite;
	animation-timing-function: ease-in-out;
	filter: blur(5px);
}
.blob-one img{
	transform: translate(-5rem, -10rem);
}
.blob-two{
	margin-top: 18rem;
	background-color: rgb(12 23 32);
	height: 20rem;
	font-size: 1.25rem;
	border-radius: 34% 66% 47% 53% / 28% 20% 80% 72%;
	overflow: hidden;
	color: white;
	filter: drop-shadow(-10px -10px rgb(28, 45, 65));
	animation: blobTwoAnimation 15s infinite;
	animation-timing-function: linear;
	filter: blur(2.5px);
}
@keyframes blobOneAnimation{
	33%{border-radius: 54% 46% 77% 23% / 24% 30% 70% 76%;}
	66%{border-radius: 64% 36% 35% 65% / 58% 72% 28% 42%;}
	100%{border-radius: 76% 24% 82% 18% / 65% 62% 38% 35%;}
}
@keyframes blobTwoAnimation{
	25%{border-radius: 19% 81% 43% 57% / 32% 40% 60% 68%;}
	50%{border-radius: 73% 27% 43% 57% / 32% 40% 60% 68%;}
	75%{border-radius: 73% 27% 75% 25% / 68% 63% 37% 32%;}
	100%{border-radius: 34% 66% 47% 53% / 28% 20% 80% 72%;}
}
/* END BLOBS */

/* NAVIGATION */
.main-navigation{
	position: fixed;
	top: 0;
	z-index: 5;
/*	text-shadow: 0.5px 0.5px rgb(232,85,94);*/
}
.main-navigation ul{
	margin-top: 60vh;
	margin-left: 2rem;
}
/*.main-navigation li{
	background-color: rgb(21, 33, 44);
	border-radius: 34% 66% 47% 53% / 28% 20% 80% 72%;
	animation: blobTwoAnimation 15s infinite;
	animation-timing-function: linear;
	width: 100%;
}
.navigation-blob{
	position: absolute;
	background-color: dimgray;
	width: 25px;
}*/
.main-navigation a{
	font-family: 'Roboto Mono', monospace;
	color: white;
	font-size: 1rem;
}
.triangle-right {
	display: inline-flex;
	width: 10px;
	height: 10px;
	background-color: white;
	clip-path: circle(50%);
	transition: all 0.5s ease;
	transform: rotate(-90deg);
}
.triangle-right:hover{
	transform: rotate(0);
	transform: scale(1.5);
	clip-path: polygon(0% 0%, 0% 100%, 100% 50%);
}
.nav-line{
	position: absolute;
	transform: translateY(-1rem);
	z-index: -1;
	background-color: rgb(251, 90, 70);
	width: 5rem;
	height: 0.8rem;
}
/* END NAVIGATION */

/* SLIDES */
.slides{
	min-height: 100vh;
}

/* PROFILE SLIDE */
.profile-content{
	z-index: 2;
	background-color: #80808000;
	font-family: 'Poppins', sans-serif;
	color: white;
}
.profile{
	position: absolute;
	font-family: 'Poppins', sans-serif;
	background: rgb(21,33,44);
	background: linear-gradient(0deg, rgba(21,33,44,1) 0%, rgba(28,44,59,1) 50%, rgba(26,41,54,1) 100%);
	color: white;
}
.profile-titles{
	margin-top: 10rem;
}
.profile-content p{
	margin-left: 3px;
	color: #CCF381;
	opacity: 0;
	font-size: 1.25rem;
	animation: fadeInTop 0.3s forwards;
	animation-delay: 0.9s;
/*	filter: drop-shadow(3px 3px rgb(0, 0, 0, 0.3));*/
}
.profile-content h2{
	margin-left: 3px;
	font-size: 2rem;
	opacity: 0;
	animation: fadeInTop 0.3s forwards;
	animation-delay: 1.3s;
	color: #CCF381;
/*	filter: drop-shadow(3px 3px 1px rgb(0,0,0, 0.4));*/
}
.profile-content h1{
	margin-top: -1.5rem;
	font-size: 5rem;
	opacity: 0;
	font-weight: 800;
/*	filter: drop-shadow(0px 10px rgb(28, 44, 59)) drop-shadow(9px 0px rgb(28, 44, 59)) drop-shadow(-9px 0px rgb(28, 44, 59)) drop-shadow(0px -10px rgb(28, 44, 59));*/
/*	 drop-shadow(10px 10px rgb(28, 40, 60))*/
	filter: drop-shadow(3px 3px 2px rgb(0,0,0, 0.4));
	animation: fadeInTop 0.5s forwards;
	animation-delay: 1.1s;
}
.profile-content .action-btn{
	opacity: 0;
	animation: fadeInLeft 0.5s forwards;
	animation-delay: 1.8s;
}

.fadeInLeftAnimation{
	animation: fadeInLeft 0.5s forwards;
	animation-delay: 0.3s;
}
.fadeInRightAnimation{
	animation: fadeInLeft 0.5s forwards;
	animation-delay: 0.3s;
}


.fadeInTopAnimationMid1{
	animation: fadeInTopMid 1s forwards;
	animation-delay: 0.5s;
}
.fadeInTopAnimationMid2{
	animation: fadeInTopMid 1s forwards;
	animation-delay: 0.7s;
}
.fadeInTopAnimationMid3{
	animation: fadeInTopMid 1s forwards;
	animation-delay: 0.9s;
}


.fadeInTopAnimationLong1{
	animation: fadeInTopLong 0.8s forwards;
	animation-delay: 0.3s;
}
.fadeInTopAnimationLong2{
	animation: fadeInTopLong 0.8s forwards;
	animation-delay: 0.5s;
}
.fadeInTopAnimationLong3{
	animation: fadeInTopLong 0.8s forwards;
	animation-delay: 0.7s;
}


.fadeInTopAnimation1{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 0.3s;
}
.fadeInTopAnimation2{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 0.5s;
}
.fadeInTopAnimation3{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 0.7s;
}
.fadeInTopAnimation4{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 0.9s;
}
.fadeInTopAnimation5{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 1.1s;
}
.fadeInTopAnimation6{
	animation: fadeInTop 0.5s forwards;
	animation-delay: 1.3s;
}
@keyframes fadeInTop{
	0%{
		transform: translateY(2rem);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fadeInTopMid{
	0%{
		transform: translateY(4rem);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fadeInTopLong{
	0%{
		transform: translateY(6rem);
		opacity: 0;
	}
	100%{
		transform: translateY(0);
		opacity: 1;
	}
}
@keyframes fadeInLeft{
	0%{
		transform: translateX(-5rem);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
@keyframes fadeInRight{
	0%{
		transform: translateX(5rem);
		opacity: 0;
	}
	100%{
		transform: translateX(0);
		opacity: 1;
	}
}
/* END PROFILE SLIDE */

.accountLinks img{
	filter: grayscale(100%);
}

/* PROJECTS SLIDE */
.projects{
	background-color: #f1f1f1;
	min-height: 100vh;
	color: black;
}
.projects-cont{
	margin-top: 5rem;
}
.imgholder{
	background-color: gray;
}
.proj-description{
	opacity: 0;
	background-color: rgb(25,40,53);
}
.proj-descriptionAnimation{
	animation: projdescFade 0.5s forwards;
}
@keyframes projdescFade{
	0%{
		transform: translate(-5rem, -5rem);
		opacity: 0;
	}
	100%{
		transform: translate(-10rem, -5rem);
		opacity: 1;
	}
}
.proj-description div{
	margin-top: 10rem;
	margin-bottom: 3rem;
}
.proj-btn-container{
	z-index: 1;
}
.check-proj-btn{
	transform: translate(15rem, 3rem);
	filter: drop-shadow(3px 3px 3px rgb(0,0,0, 0.5));
	opacity: 0;
}
.fadeinViewProjBtn{
	animation: fadeViewProj 0.3s forwards;
	animation-delay: 1.1s;
}
@keyframes fadeViewProj{
	0%{
		transform: translate(10rem, 3rem);
		opacity: 0;
	}
	100%{
		transform: translate(15rem, 3rem);
		opacity: 1;
	}
}
.check-proj-btn, .proj-tags{
	display: inline-flex;
	height: 3rem;
	padding: 0 2rem 0 2rem;
	background-color: rgb(251, 90, 70);
	justify-content: center;
	align-items: center;
	font-size: 1rem;
	font-weight: bold;
}
.action-btn{
	opacity: 1;
}
.proj-card{
	z-index: 1;
	opacity: 0;
	padding: 0;
}
.proj-card img, .proj-card video{
	border-radius: .5rem;
}
video{
	width: 100% !important;
	object-fit: cover;
}

.proj-card, .proj-description{
	filter: drop-shadow(3px 3px 3px rgb(0,0,0, 0.5));
}
.proj-tags{
	color: rgb(25,40,53);
	background-color: #CCF381;
	border-radius: 5rem;
	padding: 0 1rem 0 1rem;
	height: 2rem;
	opacity: 0;
}

/* EXPERIENCE SLIDE */
.experience, .about{
	font-family: 'Poppins', sans-serif;
	background-color: #f1f1f1;
	color: white;
}
.experience{
	z-index: 0;
}
.about-cont h5{
	font-weight: bold;
	font-size: ;
}
.about-cont{
	background-color: white;
	min-height: 80vh;
	filter: drop-shadow(3px 3px 3px rgb(0,0,0, 0.5));
}
.about-cont *{
	color: rgb(25,40,53);
	font-size: 1rem;
	text-align: justify;
}
.about-icon-cont{
	background-color: rgb(25,40,53);
	border-radius: 3rem 1rem 3rem 1rem;
}
.about-icon{
	width: 2rem;
	height: 2rem;
}
.row1, .row2, .row3, .row4{
	opacity: 0;
}
.expe-title{
	font-size: 2rem;
	font-weight: bold;
	color: rgb(25,40,53);
	padding: 2rem 2rem 2rem 2rem;
	border-radius: 50px 0px 0px 50px;
/*	filter: drop-shadow(3px 3px 3px rgb(0,0,0, 0.5));*/
}
.expe-desc{
	color: rgb(25,40,53);
	font-weight: bold;
	background-color: #CCF381;
	padding: 2rem 2rem 2rem 2rem;
	filter: drop-shadow(3px 3px 3px rgb(0,0,0, 0.5));
}

.contact{
	font-family: 'Poppins', sans-serif;
	background-color: rgb(25,40,53);
	color: white;
}
.contact-form-cont-left{
	background-color: #f1f1f1;
	margin-top: 3rem;
	padding: 2rem 2rem 2rem 2rem;
	filter: drop-shadow(10px 10px 3px rgb(0,0,0, 0.2));
	height: 80svh;
}
.contact-form-cont-right{
	background-color: #CCF381;
	padding: 2rem 2rem 2rem 2rem;
	margin-top: 3rem;
	filter: drop-shadow(10px 10px 5px rgb(0,0,0, 0.2));
	height: 80svh;
}
.contact-form-cont-left *{
	color: rgb(25,40,53);
	font-weight: bold;
}
.contact-form-cont-right *{
	color: rgb(25,40,53);
	font-weight: bold;
	font-size: 1rem;
}
.contact-form-cont-right input, .contact-form-cont-right textarea{
	background-color: transparent;
	border: none;
	outline: none;
	padding: 0;
}

.input-holder{
	border-bottom: 1px solid rgb(25,40,53);
	padding: 0;
}
.input-label, .input-btn{
	padding: 0;
}
.input-btn{

}
.contact-form-cont-right input, .contact-form-cont-right textarea{
	padding: 0;
	font-weight: normal;
}
/* CODING PLATFORM ICONS */
.icons{
	width: 2.5rem;
	height: 2.5rem;
	transform: translateX(1.5rem);
	transition: all 0.5s ease;
	filter: drop-shadow(5px 5px rgb(0,0,0, 0.4));
/*	animation: iconsSwayOnStandby 1s infinite;*/
}
.icons:hover{
	transition: all 0.5s ease;
	transform: translateX(2rem);
}
.accountLinks{
	opacity: 0;
	width: 2.5rem;
	height: 2.5rem;
	display: inline-flex;
	overflow: hidden;
	filter: drop-shadow(3px 3px rgb(0, 0, 0, 0.3));
	animation: fadeInTop 0.5s forwards;
	animation-delay: 1.5s;
}

@keyframes iconsSwayOnStandby{
	0%{transform: translateX(0);}
	50%{transform: translateX(0.5rem);}
	0%{transform: translateX(0rem);}
}
.icons img{
	filter: grayscale(100%);
	-webkit-filter: grayscale(100%);
	-webkit-transition: filter 0.5s ease;
	object-fit: cover;
	animation: iconsSway 1s forwards;
	transform: translateX(-5rem);
}

.icons img:hover{
	filter: grayscale(0%);
	filter: gray;
	-webkit-filter: grayscale(0%);
	filter: none;
	transition: 0.5s ease;
}
@keyframes iconsSway{
	0%{transform: translateX(-5rem);}
	50%{transform: translateX(0);}
	60%{transform: translateX(-1px);}
	70%{transform: translateX(0.8px);}
	80%{transform: translateX(-0.5px);}
	90%{transform: translateX(0.3px);}
	100%{transform: translateX(0);}
}
.iconOne img{
	animation-delay: 0.2s;
}
.iconTwo img{
	animation-delay: 0.4s;
}
.iconThree img{
	animation-delay: 0.6s;
}
.iconFour img{
	animation-delay: 0.8s;
}

@media screen and (max-width: 800px){
	.proj-description{
		transform: translate(0);
		min-height: 10rem;
	}
	.check-proj-btn{
		transform: translate(15rem, 1rem);
	}
	@keyframes projdescFade{
		0%{
			transform: translate(0, 0);
			opacity: 0;
		}
		100%{
			transform: translate(0, 0);
			opacity: 1;
		}
	}
	@keyframes fadeViewProj{
		0%{
			transform: translate(10rem, 1rem);
			opacity: 0;
		}
		100%{
			transform: translate(15rem, 1rem);
			opacity: 1;
		}
	}
	.blob-two{
		transform: translate(-15rem, 18rem);
	}
	.blob-one{
		transform: translate(5rem, 0);
	}
	.projects-cont{
		margin-top: 5rem;
	}
	.contact-form-cont-left, .contact-form-cont-right{
		height: 50vh;
		margin-top: 20vh;
	}
}
@media screen and (max-width: 450px){
	.profile-titles{
		margin-top: 10rem;
	}
	.check-proj-btn{
		transform: translate(6.5rem, 1rem);
		opacity: 0;
	}
	@keyframes fadeViewProj{
		0%{
			transform: translate(2rem, 1rem);
			opacity: 0;
		}
		100%{
			transform: translate(6.5rem, 1rem);
			opacity: 1;
		}
	}
	.blob-two{
		transform: translate(-10rem, 20rem) scale(1.0);
	}
	.blob-one{
		transform: translate(5rem, 18rem) scale(0.7);
		
	}
	.projects-cont{
		margin-top: 5rem;
	}
	.blob-container{
		overflow: hidden;
	}
	.main-navigation{
		height: 0;
		width: 0;
	}
	.icons img{
		animation: fadeInTop 1s forwards;
	}
	.icons{
		transform: translateX(0);
	}
	.profile-content h1{
		font-size: 3rem;
	}
	.contact-form-cont-left{
		height: 55vh;
	}
	.contact-form-cont-right{
		margin-top: 0;
		height: 55vh;
		margin-bottom: 5rem;
	}
}

